<div class="container">
  <h1>Create New Employee</h1>

  <form #empForm="ngForm">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" name="name" id="" class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" name="email" id="" class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Mobile Number</label>
      <input type="tel" name="mobile" id="" class="form-control" />
    </div>
    <div class="form-group">
      <input type="button" value="Create" class="btn btn-warning" />
    </div>
  </form>
</div>
